{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "include": [
      "src/**/*.ts"
    ],
  "exclude": [
    "**/*.d.ts",
    "**/tests",
    "**/coverage"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "branches": 80,
  "lines": 89,
  "functions": 92,
  "statements": 85
}